# Ignore Logstash ingestion-related files
logstash/logstash_ingest_data/*
!logstash/logstash_ingest_data/.gitkeep
logstash/csv
logstash/logs

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignore Env var
.env

# IDE
.vscode/
.idea/

# Virtual environments
venv/
.venv/